badges = [{name: 'Chatter Master', url:"/images/badges/A04 Setup Chatter Users.png", Status: "Signed Off"}, {name: "Chatter Mobile", url: "/images/badges/A06 Install Chatter Mobile App.png", Status: "Signed Off"}, {name: "Approval Process", url: '/images/badges/A09 Create an Approval process.png'}, {name: "Chatter Group", url: "/images/badges/U06 Setup Chatter Groups.png", Status: "Signed Off"}, {name: "Smart Search", url: "/images/badges/Use Smart Search.png", Status: "Signed Off"}, {name: "Update Your Profile", url: "/images/badges/U03 Update your Chatter Profile.png", Status: "Signed Off"}, {name: "Live Chat", url: "/images/badges/U10 Live Chat with another user.png", Status: "False"}, {name: "Desktop App", url: '/images/badges/U04 Install Chatter for the Desktop.png', Status: ""}, {name: "Analyst", url: "/images/badges/E01 POC Dashboard Review.png", Status: ""}, {name: "Oscar Worthy", url: "/images/badges/E04 View Salesforce Chatter Video.png", Status: ""}, {name: "Contributor", url: "/images/badges/U07 Upload and share files.png", Status: ""}];

script
    var badges = [{name: 'Chatter Master', url:"/images/badges/A04 Setup Chatter Users.png", Status: "Signed Off"}, 
    {name: "Chatter Mobile", url: "/images/badges/A06 Install Chatter Mobile App.png", Status: "Signed Off"}, 
    {name: "Approval Process", url: '/images/badges/A09 Create an Approval process.png'}, 
    {name: "Chatter Group", url: "/images/badges/U06 Setup Chatter Groups.png", Status: "Signed Off"}, 
    {name: "Smart Search", url: "/images/badges/Use Smart Search.png", Status: "Signed Off"}, 
    {name: "Update Your Profile", url: "/images/badges/U03 Update your Chatter Profile.png", Status: "Signed Off"}, 
    {name: "Live Chat", url: "/images/badges/U10 Live Chat with another user.png", Status: "False"}, 
    {name: "Desktop App", url: '/images/badges/U04 Install Chatter for the Desktop.png', Status: ""}, 
    {name: "Analyst", url: "/images/badges/E01 POC Dashboard Review.png", Status: ""}, 
    {name: "Oscar Worthy", url: "/images/badges/E04 View Salesforce Chatter Video.png", Status: ""}, 
    {name: "Contributor", url: "/images/badges/U07 Upload and share files.png", Status: ""}];

    function showCompletedGoals(){
    var earnedbadges,availablebadges  = [];
    if (userInfo) {

      var goals = userInfo['Goals'];


      for(var i = 0; i < goals; i++){
        var badge = goals[i];
        console.log("name of the goal: " +badge.Name)
        if (badge.pocManaged__Status__c == 'Signed Off')
        {
          earnedbadges.push(badge);
        }
        else
        {
          availablebadges.push(badge);
        };
      };
    }};

script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
script(type="text/javascript", src="/socket.io/socket.io.js")
    $.noConflict();    
    var socket = io.connect();

    socket.on('news', function (data) {
      console.log(data.sobject.Id);
      console.log(data.sobject.Name);
      jQuery('tbody').prepend('<tr>'+data.sobject.Name+'</tr>');
      jQuery('#anotherIdea').prepend('<tr>'+data.sobject.Name+'</tr>');
      jQuery("#email").hide();
    });



br
br
     

#info
  #badgewars
    img(alt='badgewars logo', src='/images/BadgeWarsLogo.png')
    label.title 
  #name
    img.user(src='/images/UsersIcon.png') 
    if (userInfo) 
      label.name #{userInfo['FirstName']} #{userInfo['LastName']}
    else
      label.name FirstName LastName
  #email 
    img.email(src='/images/EmailIcon.png', alt='email icon')
    if (userInfo) 
      label.email #{userInfo['Email']}
  #goals
    img.goals(src='/images/statsIcon.png', alt='goals icon')
    label.goalsTitle My Goals
    if (userInfo) 
      label.CompletedGoals #{userInfo['CompletedGoals']} /
      label.assignedGoals #{userInfo.AssignedGoals}
  
#nav
  ul
    li 
      a(href='#activity', onclick='showActivity();') Activity
    li 
      a(href='#current', class='current', onclick='showAssignedGoals();') Assigned Goals
    li 
      a(href='#completed', onclick='showCompletedGoals();') Completed Goals

#main
  if (userInfo) 
  table#earnedBadges
    tbody
      each badge, i in badges
        tr
          if (badge.status = 'Signed Off')
              img#earnedbadge(src=badge.url)
          else if (badge.status = 'False')
              img#nobadge(src=badge.url)  

#anotherIdea


      
    

  