article#404.page
    header
        div
          h2 404 - Not Found
          h3 Oops-e-daisy... looks like we've taken a wrong turn.
      section.intro
        div
          p
            | The page you were looking for cannot be found, perhaps you'd like to try something else from the menu!
