<!-- content-wrap starts here -->

#wrap
  #sidebar
    ul
      li
        a(href='#') Home
      li
        a(href='/login') Login
  #nav

  #main
  p A proof of concept (POC) or a proof of principle is a realization of a certain method or idea(s) to demonstrate its feasibility, or a demonstration in principle, whose purpose is to verify that some concept or theory has the potential of being used. A proof-of-concept is usually small and may or may not be complete.
  p Imagine they could be fun!
  