layout.jade
!!!5
html
	head
		title badgewars.com
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(type="text/javascript", src="/js/canvas-all.js")
	body.greyBackground
	<!-- header starts here -->
	div#titlebar(style='display: block')
		div#header-content
			span(style='float: left;')
				img#logo(src='/images/cloudLogo.png')
				h1#logo-text badgewars.com
	
	<!-- body starts here -->
	br
	br
	div!= body
