script
  function loginHandler(e) {
    var uri;
    if (!Sfdc.canvas.oauth.loggedin()) {
      uri = Sfdc.canvas.oauth.loginUrl();
      Sfdc.canvas.oauth.login({
        uri: uri,
        params: {
          response_type: 'token',
          client_id: '3MVG9QDx8IX8nP5QCEQeRdOeorP6KSnQaPGgm87BnTEOG8KwxsbtlEkj843qf1hvkpekxSRvOZthXIRyjcU2y',
          redirect_uri: encodeURIComponent('http://intense-brook-6811.herokuapp.com/oauth2/callback')
        }
      });
      location.reload;
    } else {
      Sfdc.canvas.oauth.logout();
      login.innerHTML = 'Login';
      Sfdc.canvas.byId("oauth").innerHTML = '';
    }
  }
  
  // Bootstrap the page once the DOM is ready.
  Sfdc.canvas(function() {
    // On Ready...
    var login    = Sfdc.canvas.byId('login'),
        loggedIn = Sfdc.canvas.oauth.loggedin(),
        token    = Sfdc.canvas.oauth.token();
    login.innerHTML = (loggedIn) ? 'Logout' : 'Login';
    if (loggedIn) {
      // Only displaying part of the OAuth token for better formatting.
      Sfdc.canvas.byId('oauth').innerHTML = Sfdc.canvas.oauth.token().substring(1,40) + '_';
    }
    window.onload = loginHandler;
    login.onclick = loginHandler;
  });

h1#header Force.com Canvas OAuth App
div access_token = 
  span#oauth
div
  a#login(href="#") Login