script
  try {
    window.opener.Sfdc.canvas.oauth.childWindowUnloadNotification(self.location.hash);
    } catch (ignore) {}
    self.close();

h1#header Force.com Canvas OAuth App
div access_token = 
  span#oauth
div
  a#login(href="#") Login