!!!5
html
	head
		title successful authentication
		link(rel="stylesheet", href="/stylesheets/style.css")
	body.greyBackground
	<!-- header starts here -->
	br
	br
	div This is my test page to check if redirection was successful