/********************************************
   HTML ELEMENTS
********************************************/ 

/* Import custom fonts */

@font-face {
    font-family: 'allerbold';
    src: url('fonts/aller_bd-webfont.eot');
    src: url('fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_bd-webfont.woff') format('woff'),
         url('fonts/aller_bd-webfont.ttf') format('truetype'),
         url('fonts/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aniversregular';
    src: url('fonts/anivers-regular-webfont.eot');
    src: url('fonts/anivers-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anivers-regular-webfont.woff') format('woff'),
         url('fonts/anivers-regular-webfont.ttf') format('truetype'),
         url('fonts/anivers-regular-webfont.svg#aniversregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* top elements */
* { padding: 0; margin: 0; border: 0; }

body {
	margin: 0; 	padding: 0;
	font: normal 12px/1.7em  verdana, tahoma, sans-serif;	 
	text-align: center;
	background: #001342 url(../images/headerbg.jpg) repeat-x 0 0;
	color: #F2F9FF;
}

#logo {
	position:absolute; top:0; left:0;
	background: transparent;
	border: none;
	height: 125px;
	width: 125px;
}

/* links */
a {
	color: #003366;
	background-color: inherit;
	text-decoration: none;		
}
a:hover {
	color: #FAA34B; 
	background-color: inherit;
	text-decoration: underline;	
	border: none;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	color: #fff;
}
h1 { font-size: 2.5em;} 
h2 { font-size: 2em; text-transform:uppercase;}
h3 { font-size: 1.8em; }

p, h1, h2, h3 {
	margin: 0;
	padding: 10px 150px;
}

ul, ol {
	margin: 10px 30px;
	padding: 0 15px;	
}

/* images */
img {
	background: #FAFAFA;
   border: 1px solid #0F7ACC;
	padding: 6px;
}
img.kidmondo {
	background: #FAFAFA;
   border: 1px solid #0F7ACC;
	padding: 6px;
	margin: 200px;
}
img.float-right {
   margin: .5em 0 1em 1em;   
}
img.float-left {
   margin: .5em 1em 1em 0;
}
img#nobadge
{
	background-color: #BABABA;
	opacity:0.4;
	filter:alpha(opacity=40);
	height: 100px;
	width: 100px;
}

img#earnedbadge
{
  width: 100px;
  height: 100px;  
}


code {
  margin: .5em 0;
  display: block;
  padding: 20px;
  text-align: left; 
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'Courier New', monospace ;
  /* white-space: pre; */
  background: #1E89DC;
  border: 1px solid #0065C6;   
}
acronym {
  cursor: help;
  border-bottom: 1px solid #0065C6;
}
blockquote {
	margin: 10px 15px;
 	padding: 10px 0 10px 28px;  
   border: 1px solid #0065C6;
	background: #1E89DC; 
  	font: bold 1.3em/1.5em "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
}

/* start - table */
table {
	margin: 10px 15px; 
	border-collapse: collapse;			
}
th strong {
	color: #fff;
}
th {
	background: #93BC0C;
	height: 3em;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #8EB200; 
	border-top: solid 2px #8EB200;
}
tr {
	color: #707070;
	height: 2.5em;	
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border-left: 1px solid #FFF;
	border-bottom: solid 1px #ffffff;
}
td.first,th.first {
	border-left: 0px;
}
tr.row-a {
	background: #F8F8F8;
}
tr.row-b {
	background: #EFEFEF;
}
/* end - table */

/* form elements */
form {
	margin: 10px 15px; 
	padding: 10px;
	border: 1px solid #0065C6; 
	background-color: #1E89DC; 
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
label {
	display:block;
	font-weight:bold;
	margin: .4em 0;	
}
input {
	padding: .3em;
	border: 1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	width: 55%;
	padding: .3em;
	font: normal 1em/1.5em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 10em;
	display:block;
	color:#777;
}
input.button { 
	font: bold 1em Arial, Sans-serif; 
	margin: 0;
	padding: .25em .3em;
	color: #FFF;
	background: #A2CC00;
	border: 2px solid #8EB200;
}


/***********************
	  LAYOUT
************************/

#header-content, #content, #nav {
/*
The width value below sets the total width of the design. It's default value is set to 93%
which means that it will take up 93% of the browser window's width. You can also set it to a 
different percentage	value (90%, 85%, etc.). This design is fluid layout by default, but you
can turn it into a fixed width layout by setting a pixel value to the width (e.g. 900px, 950px).
*/
	width: 93%;	
}

/* box */
.box {
	margin: 10px 0;	
	padding: 10px 10px 20px 10px;		
	border: 5px solid #1F8ADE;
	background: url(../images/boxbg.jpg);		
}

/* header */
#header {
	height: 178px;
	text-align: left;	
}
#header-content {
	position: relative;
	margin: 0 auto; padding: 0;
}
#header-content h1#logo-text a {
	margin-left: 200; padding: 100;
	font: bold 58px aniversregular, 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	letter-spacing: -1px;
	color: #fff;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 30px; left: 10px;	
}
#header-content h1#logo-text span {
	color: #68B5F0;	
}
#header-content #slogan {
	position: absolute;	
	font: bold 16px aniversregular, 'Trebuchet Ms', Sans-serif;
	text-transform: none;
	color: #FFF;	
	margin: 0; padding: 0;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 100px; left: 125px;
}

/* header links */
#header-content #header-links {
	position: absolute;
	top: 25px; right: 10px;	
	color: #fff;
	font: bold 15px "Trebuchet MS", Tahoma, Sans-serif;	
}
#header-content #header-links a {	
	color: #93C9F4;
	text-decoration: none;	
}
#header-content #header-links a:hover {
	color: #fff;		
}


/* Navigation */
#nav-wrap {
	float: left;
	width: 100%;
	background: url(../images/menubg.jpg) repeat-x left bottom; 
	clear: both;
}
#nav {
	clear: both;	
	margin: 0 auto;
	padding: 0;		
}
#nav ul {
	float: left;
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;	
	height: 64px;		
}
#nav ul li {
	float: left;
	margin: 0; padding: 0;
	height: 64px;
}
#nav ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 15px;
	color: #FFF;
	font: bold 15px "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-decoration: none;	
	letter-spacing: 1px;	
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #333;	
}
#nav ul li#current {	
	background: url(../images/nav-current.jpg) no-repeat center bottom;		
}
#nav ul li#current a {
	color: #333;
}

/* content */
#content-wrap {
	clear: both;
	float: left;
	background: #1183DA;		
	width: 100%;
}
#content {
	text-align: left;	
	padding: 0; 
	margin: 0 auto;		
}




/* main */
#main {
	margin: 10px 23em 10px 0; 
	padding: 0;		
}
#main h1 { 
	font: bold 2.8em 'Trebuchet MS', Arial, Sans-serif;
	color: #B1E100;
	letter-spacing: -2px;		
	padding-bottom: 0;	
}
#main h1 a {
	color: #B1E100;
	text-decoration: none;
}

/* footer */
#footer-wrap {
	clear: both;
	border-top: 5px solid #86CC15;
	text-align: left;
	padding: 1.6em 0;	
}
#footer-wrap a {
	text-decoration: none;
	color: #5B9CFF;
	font-weight: bold;
}
#footer-wrap a:hover {
	color: #E8F4FF;	
}
#footer-wrap p {
	padding: 10px 0;
}
#footer-wrap h2 {
	color: #E8F4FF;
	margin: 0;
	padding: 0 10px; 
	text-transform: none;
}



/* bottom */
#footer-bottom {
	clear: both;
	color: #E8F4FF;	
	margin: 0 auto; 
	padding: 1em 0;
	text-align: center;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.white {	color: #E8F4FF; }
