
/* body {background: #f9fee8;margin: 0; padding: 20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666;}*/
.error_page {width: 600px; padding: 50px; margin: auto;}
.error_page h1 
{
margin: 10px 0; padding: 0;
}
.error_page p {margin: 10px 0; padding: 0;}		
/*a {color: #9caa6d; text-decoration:none;}*/
a:hover {color: #9caa6d; text-decoration:underline;}

.mainContent
{
background: #f9fee8;
margin: 0; padding: 20px; 
text-align:center; 
font-family:Arial, Helvetica, sans-serif; 
font-size:14px; 
color:#666666;
}
img#kidmondo_face_sad
{
	margin: 500;	
}



table#earnedBadges
{

}
table#notEarnedbadges
{
  
}
      h2 {
        margin: 0;
      }
      h2:hover {
        opacity: 0.8;
      }
      h2 a {
        text-indent: -999999px;
        display: block;
        outline: none;
        width: 322px;
        height: 113px;
        background: url(public/images/logo.png) 0 0 no-repeat;
      }
      ul {
        list-style: none;
      }
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      #logo {
        margin: 250px auto 0 auto;
        width: 322px;
      }
      #logo span {
        color: white;
}
      #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90px;
        line-height: 90px;
        background: #161616;
        color: #292929;
        text-align: right;
      }
      #footer a {
        margin-right: 20px;
        text-decoration: none;
        color: #696868;
      }
      #footer a:hover {
        color: white;
      }
