/* Creating my onw style to resemble work.com */

@font-face {
    font-family: 'aniversregular';
    src: url('fonts/anivers-regular-webfont.eot');
    src: url('fonts/anivers-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anivers-regular-webfont.woff') format('woff'),
         url('fonts/anivers-regular-webfont.ttf') format('truetype'),
         url('fonts/anivers-regular-webfont.svg#aniversregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


#titlebar {
	position: relative;
	margin-top: -8px; 
	margin-left: -8px;
	height: 46px;
	width: 100%;
	text-align: left;
	box-shadow: 0 2px 5px #000000;
	background-color: #2C82B9;
}

#logo{
	margin-left: 105px;
	margin-top: 0px;
	height: 36px;
	width: 54px;
}

#logo-text{
	margin-top: -22px;
	margin-left: 154px;
	color: fff;
	font-family: anivers;
	font-size: 20;
}

.greyBackground{
	margin:0;
	padding:0;
	background: url("../images/light-gray-texture-d1903a69b3e2f41aa50294822e0f1b67.png") repeat scroll center top #F2F1EF;
    border-bottom: 1px solid #DCDBD9;
    height: 100%;
}

body {
	height: 900px;
	width: 800px;
}

/******************************
Error page styles
******************************/

article{
	float: center;
}

article.page h2 {
	color: #2C3A43;
    font-weight: 600;
    font-size: 37px;
    text-align: center;
}

article.page h3 {
	color: #524F48;
    font-weight: 200;
    font-size: 37px;
    text-align: center;
}

section.intro p {
    font-size: 2rem;
    font-weight: 200;
    line-height: 34px;
    text-align: center;
}


/*******************************
Content Section
*******************************/

#earnedbadge
{
	width: 75px;
	height: 75px;
	background-color: #fff;
	opacity:0.4;
	filter:alpha(opacity=40);
}

#nobadge
{
	width: 75px;
	height: 75px;
	background-color: #BABABA;
	opacity:0.4;
	filter:alpha(opacity=40);
}

#content{
	float: center;
	background-color: #000;
	width: 400px;
	height:90%;
}

/***********************************
Structure of the main content window
is div#wrap -> div#nav, div#main, div#sidebar
************************************/

#wrap
{
	height: 80%;
	width: 90%;
	margin:0 auto;
	background:#F6F6F6;
	border-radius: 3px 3px 3px 3px;
}

#main {
	border-color: -moz-use-text-color #D7D7D7;
    border-left: 1px solid ##D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-width: small 1px;
	float:right;
	/* width:75%; */
	background:#fff;
}

#sidebar {
	border-color: -moz-use-text-color #D7D7D7;
    border-left: 1px solid ##D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-width: small 1px;
    color: #696969;
	float:left;
	width:24.5%;
	height: 100%;
	background:#fff;
}

#nav {
	border-color: -moz-use-text-color #D7D7D7;
    border-left: 1px solid ##D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    /*border-bottom: 1px solid #D7D7D7;*/
    border-width: small 1px;
	font-size: 13px;
	/* float: right;
	width: 75%; */
	height: 50px;
	background: #EEF0F2;
}

/*****************************
navigation items
*****************************/

#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}


#nav li {
	float:left;
    display:inline;
    margin:0;
    padding:0;
 }

#nav li a {
	float:left;
	/* height: 100%; */
	color: #696969;
	padding-top: 20px;
	background-color: transparent;
	font-family: Verdana, aniversregular, Consolas;
	font-weight: bold;
	text-decoration:none;
	padding:15px 15px 9px;
}

#nav li a:hover,.current {
color:#50ABD8;
}

#nav .current a {

	background-color: #fff;
    border-color: -moz-use-text-color #EEF0F2;
    border-left: 1px solid #EEF0F2;
    border-right: 1px solid #EEF0F2;
    border-style: none solid;
    border-width: medium 1px;
    outline: medium none;
    text-shadow: 0 1px 0 white;
}

/*****************************
Sidebar Items
*****************************/

#sidebar a{
	color: #696969;
	text-decoration: none;
}

#sidebar ul{
	margin:0;
    padding:0;
    list-style:none;
}

#sidebar li {
	height: 36px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    border-bottom: 1px solid #EEF0F2;
    padding:0px;
 }

#sidebar li a {
	height: 100%;
	color: #696969;
	padding-top: 20px;
	background-color: transparent;
	font-family: Verdana, aniversregular, Consolas;
	font-weight: bold;
	text-decoration:none;
	padding:15px 15px 9px;
}

/*****************************
Main window items
*****************************/

p{
	display: block;
	font-family: Verdana;
	font-size: 11px;
	padding:75px 50px 75px 250px; 
}


/*****************************
UserInfo items
*****************************/

#info
{
	height: 100px;

}

#info #badgewars
{
	float: left;
}

#info #badgewars img
{
	margin-left: 10px;
	margin-top: 10px;
	height: 75px;
}

label.title
{ 
	font-size: 16px;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 10px;
}

#info label 
{
	font-family: Verdana;
	font-size: 12px;
	position: absolute; 
	text-align:left; 
}

#name
{
	/*
	margin-left: 20px; 
	margin-top: 30px;
	*/
}

img.user
{
	margin-left: 20px;
	margin-top: 25px;
	height: 20px;
	width: 24px;
	content:url("../images/UsersIcon.png");
}

label.name
{
	font-size: 12px;
	font-family: Verdana;
	margin-left: 5px;
	margin-top: 30px;
}


#email
{
	margin-left: 180px;
	margin-top: -15px;
}

label.email
{
	margin-left: 5px;
}
img.email
{
	float: left;
	margin-left: 180px;
	height: 16px;
	width: 16px;
	content:url("../images/EmailIcon.png");
}

#goals
{
	/* margin-left: 250px; */
	margin-top: 30px;
}

img.goals
{ 
	float: left;
	margin-left: 20px;
	margin-top: 0px;
	height: 24px;
	width: 24px;
	content:url("../images/statsIcon.png");
}

label.goalsTitle
{
	margin-left: 10px;
}

label.completedGoals
{
	margin-left: 20px;
	margin-top: 15px;	
}

label.assignedGoals
{
	margin-left: 40px;
	margin-top: 15px;
}

label.assignedGoals
{
	margin-left: 40px;
	margin-top: 15px;
}

